/*Selector de etiqueta */

body {
    font-family: 'Source Sans Pro';
}

.header  {
     background-color: #1b2127;  /*El important sirve para darle prioridad a este estilo  */
     height: 90px;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
}

.menu { /* .menu hereda de .header */
    height: inherit;
  }

.header ul {
    display: flex;
    height: inherit;
  }
  
.header ul li { /* .header ol li hereda de .header ol */
    height: inherit;
  }

header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
    margin: 0;
  }

.hero{
    height: 300px;
    background-color: #1b2127;
    /* background-image: url('imagenes/imagen portada.jpg'); */
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

h1 {
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -.2px;   /* Espaciado entre letra y letra */
    text-transform: uppercase; /*transforma todo a mayusculas o minusculas etc etc*/
    /* text-decoration: ; */
}


h1 strong {
    color: #026fff;
}

h1, h2,h3, h4, h5, h6 {
    font-family: 'Fjalla One' sans-serif;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
    align-items: center;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-title {
    font-size: 30px;
    margin-top: 0px;
    margin: 10px 0px;
}

.kind-project, .project-date, .project-reference{
    margin: 10px 0px;
}

/* .project-date{
    margin: 10px 0px;
} */

.project-details {
    width: 50%;
}

.project strong {
    font-family: 'Fjalla One' sans-serif;
}

.project-imageContainer {
    width: 50%;
}
.project-imageContainer img{
    width: 100%;
}

.job-listTitle {
    margin-left: 10px;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: center; */
}

.job {
    background-color: #f4fbff;
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
     flex-shrink: 0; /*da en porcentaje un osfet de cuanto puede variar su tamaño segun los parametros que le tengo establecido */
}

.job-details {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 15px;
    text-align: center;
}

.job-description {
    text-align: left;
}

.job img {
    width: 450px;
    height: 350px;
    object-fit: cover;
}

.job-url {
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 10px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social {
    
}

.form-email {
    margin-left: 10px;
}

.form-email input{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 25px;
    background-image: url('C:/Users/mebri/Documents/Mario Brito/cursos/Curso de responsive design/imagenes/email.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x:  5px; 
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /* margin: 10px auto 0; */
}

.form-email h3{
    font-family: 'Source Sans Pro';
}

.social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0px 10px;
}

.social-link.twitter {
    background-image: url('C:/Users/mebri/Documents/Mario Brito/cursos/Curso de responsive design/imagenes/twitter.svg');
}

.social-link.facebook {
    background-image: url('C:/Users/mebri/Documents/Mario Brito/cursos/Curso de responsive design/imagenes/facebook.svg');
}

.social-link.github {
    background-image: url('C:/Users/mebri/Documents/Mario Brito/cursos/Curso de responsive design/imagenes/github.svg');
}

.social-link.instagram {
    background-image: url('C:/Users/mebri/Documents/Mario Brito/cursos/Curso de responsive design/imagenes/instagram.svg');
}

.footer a {
    color: white;
}

.container {
    max-width: 1000px;
    /* width: 100%; */
    flex: 1; /*Toma todo el ancho disponible del elemento*/
    margin: 0 auto;
    display: inherit;
    height: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}

/* Desktop first que empieces desde el meddia Query (MQ) mas grande */

@media screen and (max-width:1024px) 
{
    .container {
        padding: 0 1em;
    }
}

@media screen and (max-width:767px) /* Se le resta uno al tamaño original (768) ya que 768 es ipad y no dispositivos chicos aun*/
{
    .header {
        display: block;
        height: auto;
    }
    .header ul {
        display: initial;
    }
    .header ul li {
        height: 40px;
        text-align: center;
    }
    .header a {
        justify-content: center;
    }
    .header .logo {
        text-align: center;
    }
    .project {
        display: block;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        font-size: 16px;
    }
    .kind-project .project-date .project-reference {
        margin: .4em 0;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .kind-project {
        font-size: .7em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-reference {
        font-size: 1em;
    }
    .project-description {
        font-size: .8em;
    }
    .job {
        width: auto;
        flex-shrink: initial;
    }
    .job img {
        width: 100%;
    }
}

@media screen and (max-width:480px) 
{
    .project-details {
        width: auto;
        font-size: 12px;
    }
    .job-details {
        /* 1em = 16px */
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1.5em 1em;
        text-align: center;
        display: block;
      
    }
     .form-email button {
         margin: 1em auto;
    }
    .form-email h3 {
        margin-top: 0px;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent; /* Para evitar el margin collapse */
    }
}

@media screen and (max-width:320px) 
{

}